@model IEnumerable<Ailment>


<h1>All Ailments</h1>
<br />

<h2>Ailments</h2>

<div style="display: block">
    <a href="/Ailment/InsertAilments/">Create a New Ailment</a>
</div>
<br />

<table class="table">
    <tr>
        <th>Ailment</th>
        <th>Name</th>
        <th>Price</th>
        <th>Remedies</th>
    </tr>
</table>






@foreach (var item in Model)
{ <table>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.Remedies)
        </td>
    </tr>
    </table>
}
